#! /usr/bin/make -f 

export PYBUILD_NAME=alsaaudio

%:
	dh $@ --with python2 --with python3 --with sphinxdoc --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	make -C doc clean

override_dh_auto_build:
	dh_auto_build
	make -C doc
